<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Blog</title>
    <meta charset="utf-8" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    
    <link rel="stylesheet" href="/css/styles.css" />
   
      

    <body>
      <nav>
      <div class="navbar">
          <ul class="navbar-ul1">
              <li>
               <a href="/"><h1 class="logo">BLOG</h1></a>
              </li>
              <li>
                 <a href="/"> <h1>Home</h1></a>
              </li>
              <li>
                 <a href="/compose" target="_blank"> <h1>Create Blogs</h1></a>
              </li>
             
          </ul>
          <ul class="navbar-ul2">
              <li> <input type="search" name="" id="searchbar" onkeyup="search_blog()">
                  <i class='bx bx-search'></i>
              </li>
              <!-- <li>
                  <a href=""><h1>Log in</h1></a>
              </li>
              <li>
                <a href="">  <h1>Sign Up</h1></a>
              </li> -->
          </ul>
      </div>
  </nav>