<%- include("partials/header") -%>

<div class="post-container">
    <h1> <%=postTitle%> </h1>
    <div class="post-content">
        <p> <%= postContent %> </p>
    </div>
    
</div>




    


<%- include("partials/footer") -%>